<script src="~/Content/Scripts/Procurment.js"></script>
<section class="content">
    <div class="row" ng-controller="PurchaseQuotationController" id="PurchaseQuotation">
        <div class="col-md-12">
            <div class="nav-tabs-customs">
                <ul class="nav nav-tabs">
                    <li class="active tabone"><a href="#tab_a" id="lifirsttab" data-toggle="tab">PurchaseQuotation List</a></li>
                    <li class="tabtwo"><a href="#tab_1" id="primarytab" data-toggle="tab">PurchaseQuotation</a></li>
                    <li class="tabthree"><a href="#tab_2" id="secondtab" data-toggle="tab">Shipping Details</a></li>
                </ul>
                <div class="tab-content">


                    <div class="tab-pane active in"  id="tab_a">
                        <div class="row divheight">
                            <div class="col-lg-12">
                                <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 160px;">Requisition ID</th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 203px;">Supplier Name</th>
                                             <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 185px;">Parent Enterprise</th>
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 136px;">Date Of Inception</th>
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 136px;">Date Of Expiry Date</th> 

                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 136px;">Supplier Contact Person</th>


                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 136px;">Date Of Delivery</th>
                                            <!-- concatenation Of Office Contact Person First , Middle  , LAst Names -->
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 136px;">Status</th>




                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 98px;">Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="Qta in GetPurQuatationList">
                                            <td></td>
                                            <td></td>
                                             <td></td>
    <td></td>
    <td></td> 
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <span class="glyphicon glyphicon-ok-circle" style="color: #d81b60;cursor:pointer;font-size:20px;padding:05px;" title="approve"></span>
                                                <span class="glyphicon glyphicon-remove-circle" style="color: #d81b60;cursor:pointer; font-size:20px;padding:05px;" title="approve"></span>
                                            </td>
                                            <td>
                                                 edit 
                                                <a href="/procure/pc/purchaseQuatView?id" data-lity>
                                                    <i class="fa fa-eye fa-1x" style="font-size: 14px; padding: 05px;color: #d81b60;"></i>
                                                </a>
                                                <a href="#">
                                                    <i class="fa fa-edit fa-1x" style="font-size: 14px; padding: 05px;color: #d81b60;" ng-click="GetPurQuatationbyId(Qta.PQuotation_Id)"></i>
                                                </a>
                                                <a href="#">
                                                    <i class="fa fa-trash fa-1x" style="font-size: 14px;padding: 05px;color: #d81b60;" ng-click="UpdatePurReqStatus(Qta.PQuotation_Id)"></i>
                                                </a>
                                            </td>
                                        </tr>



                                    </tbody>
                                    <!--   <tfoot>
                                    <tr>
                                    <th rowspan="1" colspan="1">Rendering engine</th>
                                    <th rowspan="1" colspan="1">Browser</th>
                                    <th rowspan="1" colspan="1">Platform(s)</th>
                                    <th rowspan="1" colspan="1">Engine version</th>
                                    <th rowspan="1" colspan="1">CSS grade</th></tr>
                                    </tfoot> -->
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_1">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <i class="more-less glyphicon glyphicon-plus" style="color:#d81b60;"></i>
                                        PurchaseQuotation Details
                                    </a>
                                </h4>
                            </div>
                            <!-- in -->
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">


                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="box box-primary " style="border-top:none;">
                                                <!--   <div class="box-header with-border">
                                                  <h3 class="box-title">Quick Example</h3>
                                                </div> -->
                                                <!-- /.box-header -->
                                                <!-- form start -->

                                                <form role="form">

                                                    <div class="box-body">
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputpassword">Employer ID</label>
                                                            <select class="form-control" id="pur_quo_emp_id" ng-model="pur_quo_emp_id" name="pur_quo_emp_id" onchange="GetEmplrbarchllist()">
                                                                <option value="0" disabled>select</option>
                                                                <option ng-repeat="empr in GetEmployeeriD" value=""></option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputpassword">Employer Branch</label>
                                                            <select class="form-control" id="pur_quo_emp_brnch" ng-model="pur_quo_emp_brnch" name="pur_quo_emp_brnch">
                                                                <option value="0" disabled>select</option>
                                                                <option ng-repeat="branch in GetEmployeerbarchllist" value=""></option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputpassword">Organisation Unit</label>
                                                            <select class="form-control" id="pur_quo_orgunit" ng-model="pur_quo_orgunit" name="pur_quo_orgunit">
                                                                <option value="0" disabled>select</option>
                                                                <option ng-repeat="org in OrganizationList" value=""></option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputpassword">Project</label>
                                                            <select class="form-control" id="pur_quo_project" ng-model="pur_quo_project" name="pur_quo_project">
                                                                <option value="0" disabled>select</option>
                                                                <option ng-repeat="Proj in ProjectList" value=""></option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Requisition ID</label>
                                                            <input type="text" class="form-control" id="pur_quoreq_id" data-target="#pur_quo_req_id" data-toggle="modal" ng-model="pur_quo_req_id" name="pur_quo_req_id" placeholder="&#61442;" style="font-family: FontAwesome;">
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Quotation ID</label>
                                                            <input type="text" class="form-control" id="pur_quo_id" placeholder="Quotation ID" ng-model="pur_quo_id" name="pur_quo_id">

                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputPassword1">Supplier Name</label>
                                                            <input type="text" class="form-control" data-target="#pur_quo_sup" data-toggle="modal" id="pur_quo_sup_name" ng-model="pur_quo_sup_name" name="pur_quo_sup_name" placeholder="&#61442;" style="font-family: FontAwesome;">
                                                        </div>
                                                       
                                                       
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputPassword1">Contact Person Name</label>
                                                            <input type="text" class="form-control" id="pur_quo_cnt_per_name" ng-model="pur_quo_cnt_per_name" name="pur_quo_cnt_per_name" placeholder="Contact Person Name" readonly>
                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputPassword1">Contact Person Mobile No</label>
                                                            <input type="text" class="form-control" id="pur_quo_cnt_per_mobno" ng-model="pur_quo_cnt_per_mobno" name="pur_quo_cnt_per_mobno" placeholder="" readonly>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputFile">Supplier Address</label>
                                                            <textarea class="form-control" id="pur_quo_sup_add" ng-model="pur_quo_sup_add" name="pur_quo_sup_add" readonly></textarea>
                                                        </div>
                                                        <!-- 	<div class="form-group col-md-3">
                                                          <label for="exampleInputPassword1">Start Date / Renewed Date</label>
                                                          <input type="date" class="form-control"  id="datepicker" placeholder="Start Date / Renewal Date">
                                                        </div>
                                                         -->
                                                         <div class="form-group col-md-3">
                                                            <label for="exampleInputPassword1">Date Of Delivery</label>
                                                            <input type="text" class="form-control" id="pur_quo_dt_delvry" ng-model="pur_quo_dt_delvry" name="pur_quo_dt_delvry" placeholder="dd-mm-yy">
                                                        </div> 
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputPassword1">Remarks</label>
                                                            <textarea class="form-control" id="pur_quo_remarks" ng-model="pur_quo_remarks" name="pur_quo_remarks" placeholder="Remarks"></textarea>
                                                        </div>
                                                       
                                                        <br />
                                                        <br />
                                                        <input type="hidden" id="hdnindex" />
                                                        <input type="hidden" id="hdnpquoatation" />
                                                        <div class="form-group col-md-10">
                                                            <label for="exampleInputEmail">Select Item</label>
                                                        </div>
                                                        <div id="purchasedetails">
                                                            <table id="tblitem">
                                                                <thead>
                                                                    <tr>
                                                                        <th>S.No</th>
                                                                        <th>Item Id</th>
                                                                        <th>Description</th>
                                                                        <th>Qty</th>
                                                                        <th>UM</th>
                                                                        <th>Price</th>
                                                                        <th>Tax Amount</th>
                                                                        <th>Discount Type</th>                                                                        
                                                                        <th>Discount</th>                                                                       
                                                                        <th>Total Amount</th>
                                                                    </tr>
                                                                </thead>
                                                                 <tfoot>
                                                                    <tr>
                                                                        <td>Total</td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td><input type="text" class="form-control" /></td>
                                                                        <td><input type="text" class="form-control" /></td>
                                                                        <td><input type="text" class="form-control" /></td>
                                                                    </tr>
                                                                </tfoot> 
                                                                <tbody id="txtbody">
                                                                    <tr ng-repeat="item in ItemsList" ng-if="item.status<3">
                                                                        <td><input type="text" class="form-control" id="slno" value="" placeholder="S.No" readonly /></td>
                                                                        <td id="td"><input type="text" class="form-control" id="itemid" ng-model="item.itemid" ng-click="GetItempopup($index)" placeholder="&#61442;" style="font-family:FontAwesome;" /></td>
                                                                        <td><input type="text" name="description_$index" ng-model="item.description" id="description" class="form-control" readonly></td>
                                                                        <td width="150"><input ng-model="item.quantity" id="quantity_" type="text" class="form-control"></td>
                                                                        <td width="150"><input ng-model="item.unitmeasure" id="unitmeasure" type="text" class="form-control" readonly></td>
                                                                        <td><input ng-model="item.price" id="price" type="text" class="form-control" ng-keyup="GetTaxamount($index)"></td>
                                                                        <td><input ng-model="item.taxamt" id="taxamt" type="text" class="form-control"></td>
                                                                        <td width="150">
                                                                            <select ng-model="item.distype" id="distype" name="discnttype" class="form-control" ng-change="Getclearamt($index)">
                                                                                <option value="" selected>Select</option>
                                                                                <option value="A">Amount</option>
                                                                                <option value="P">Percentage</option>
                                                                            </select>
                                                                        </td>                                                                        
                                                                        <td><input ng-model="item.discountamt" id="discountamt" type="text" class="form-control" ng-keyup="GetcaltotAmt($index)"></td>
                                                                        <td><input ng-model="item.totamt" id="totamt" type="text" class="form-control"></td>
                                                                        
                                                                        <td ng-click="deletrow($index,item.PQTrans_Id)"></td>
                                                                        <td style="display:none;">
                                                                            <input type="hidden" id="hiditemid" />
                                                                            <input type="hidden" id="hidunit" />
                                                                            <input type="hidden" id="Pq_TransId" value="0" />
                                                                            <input type="hidden" id="GSTRate" value="0" />
                                                                        </td>
                                                                    </tr>                                                                    
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </div>

                                                    <!-- /.box-body -->
                                                    <!--  <div class="box-footer">
                                                      <button type="submit" class="btn btn-primary">Submit</button>
                                                    </div> -->

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="epid" ng-model="epid" name="epid" />

                        </div>

                        <div class="modal fade" id="pur_Item_id" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                       
                                        <h4 class="modal-title" style="text-align:center">Select Item</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="box-body">
                                            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                                <div class="row">                                                 
                                                     <div class="text-center">
                                                        </div>
                                                    <div class="text-right col-sm-12">
                                                        <label for="exampleinput">Search</label>
                                                        <input type="search" id="pur_search" ng-model="pur_search" name="pur_search" />
                                                    </div> 

                                                    <div id="prdct_details" class="row">
                                                        <table class="table table-bordered table-striped dataTable" role="grid">
                                                            <thead>
                                                                <tr>
                                                                    <th>&nbsp;</th>
                                                                    <th>Item ID</th>
                                                                    <th>Item Description</th>
                                                                    <th>UM</th>
                                                                     <th>Available Quantity</th>
    <th>Reorder Level Quantity</th> 
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="item in GetStockitemsList">
                                                                    <td><input type="radio" name="Empcheckgrp" id="itemcheck" value="" ng-model="Itemcheck" ng-click="GetItemdet(item)" /></td>
                                                                    <td style="display:none;"><label id="lblitemid_"></label></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                            </tbody>

                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="pur_quo_req_id" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        
                                        <h4 class="modal-title" style="text-align:center">Select Item</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="box-body">
                                            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                                <div class="row">                                                    
                                                     <div class="text-center">
                                                        \</div>
                                                    <div class="text-right col-sm-12">
                                                        <label for="exampleinput">Search</label>
                                                        <input type="search" id="pur_search" ng-model="pur_search" name="pur_search" />
                                                    </div> 

                                                    <div id="prdct_details" class="row">
                                                        <table class="table table-bordered table-striped dataTable" role="grid">
                                                            <thead>
                                                                <tr>
                                                                    <th>&nbsp;</th>
                                                                    <th>Requisition ID</th>
                                                                    <th>Supplier Name</th>                                                                   
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="pur in PurchaseMaterialReqdet">
                                                                    <td><input type="radio" name="purchase" id="purMat" value="" ng-model="Itemcheck" ng-click="GetPurchaseDet(pur)" /></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                     <td></td>
                                                                        <td></td>
                                                                        <td></td> 
                                                                </tr>
                                                            </tbody>

                                                        </table>
                                                      
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="pur_quo_sup" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        
                                        <h4 class="modal-title" style="text-align:center">Select Item</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="box-body">
                                            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                                <div class="row">
                                                     <div class="col-sm-6">
                                                            <label for="exampleinput1">Supplier ID</label>
                                                            <input type="text" id="prod_id" ng-model="prod_id" name="prod_id" />
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="exampleinput1">Supplier</label>
                                                            <input type="text" id="desc" ng-model="desc" name="desc" />
                                                        </div> 
                                                    <div class="text-center">
                                                        </div>
                                                    <div class="text-right col-sm-12">
                                                        <label for="exampleinput">Search</label>
                                                        <input type="search" id="pur_search" ng-model="pur_search" name="pur_search" />
                                                    </div>

                                                    <div id="prdct_details" class="row">
                                                        <table class="table table-bordered table-striped dataTable" role="grid">
                                                            <thead>
                                                                <tr>
                                                                    <th>&nbsp;</th>
                                                                    <th>Supplier ID</th>
                                                                    <th>Supplier Name</th>
                                                                     <th>UM</th>
                                                                        <th>Available Quantity</th>
                                                                        <th>Reorder Level Quantity</th> 
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                
                                                                <tr ng-repeat="suplist in GetSupplieritemsList">
                                                                    <td><input type="radio" name="supitem" ng-click="GetindividuvalSupdet(suplist)" /></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>                                                                                                                                
                                                            </tbody>
                                                        </table>
                                                        <input type="hidden" id="hdnsuppid" />
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
 
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="tab_2">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                        <i class="more-less glyphicon glyphicon-plus" style="color:#d81b60;"></i>
                                        Shipping Details
                                    </a>
                                </h4>
                            </div>
                            <!-- in -->
                            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">


                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="box box-primary " style="border-top:none;">
                                                <!--   <div class="box-header with-border">
                                  <h3 class="box-title">Quick Example</h3>
                                </div> -->
                                                <!-- /.box-header -->
                                                <!-- form start -->

                                                <form role="form">

                                                    <div class="box-body">
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1"><span style="color:blue;">Name Of Receiving Company</span><span style="color:#d81b60;">*</span></label>
                                                            <input type="text" class="form-control" id="pur_quo_rec_compny" ng-model="pur_quo_rec_compny" name="pur_quo_rec_compny" placeholder="Name Of Receiving Company" required>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Contact Person</label>
                                                            <input type="text" class="form-control" id="pur_qou_cnt_per" placeholder="Contact Person" ng-model="pur_qou_cnt_per" name="pur_qou_cnt_per">

                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputPassword1">Mobile</label>
                                                            <input type="text" class="form-control" ng-model="pur_quo_mobile" name="pur_quo_mobile" id="pur_quo_mobile" placeholder="Mobile">
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputFile">Landline</label>
                                                            <input type="text" class="form-control" id="pur_quo_landline" ng-model="pur_quo_landline" name="pur_quo_landline" placeholder="Landline">
                                                        </div>
                                                        <br />
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputPassword1">Fax</label>
                                                            <input type="text" class="form-control" id="pur_quo_fax" ng-model="pur_quo_fax" name="pur_quo_fax" placeholder="Fax">
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputpassword"><span style="color:blue;">Receiving Company Tax ID</span><span style="color:#d81b60;">*</span></label>
                                                            <input type="text" class="form-control" id="pur_tax_id" ng-model="pur_quo_recng_com_tax_id" name="pur_quo_recng_com_tax_id" placeholder="Receiving Company Tax ID" required>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputPassword1"><span style="color:blue;">Mode Of Shipment</span><span style="color:#d81b60;">*</span></label>
                                                            <select type="text" class="form-control" id="pur_mode_shpmnt" ng-model="pur_quo_mode_of_shpmnt" name="pur_quo_mode_of_shpmnt" placeholder="" required>
                                                                <option value="0" disabled>please select</option>
                                                                <option value="ByAir">By Air</option>
                                                                <option value="BySea">By Sea</option>
                                                                <option value="ByLand">By Land</option>
                                                            </select>
                                                        </div>
                                                        <!-- 	<div class="form-group col-md-3">
                                          <label for="exampleInputPassword1">Start Date / Renewed Date</label>
                                          <input type="date" class="form-control"  id="datepicker" placeholder="Start Date / Renewal Date">
                                        </div>
                                         -->
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputPassword1"><span style="color:blue;">Port Of Origon</span><span style="color:#d81b60;">*</span></label>
                                                            <input type="text" class="form-control" id="pur_quo_prtorgn" ng-model="pur_quo_prtorgn" name="pur_quo_prtorgn" placeholder="Port Of Origon" required>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputPassword1"><span style="color:blue;">Port Of Destination</span><span style="color:#d81b60;">*</span></label>
                                                            <input type="text" class="form-control" id="pur_quo_prtdest" ng-model="pur_quo_prtdest" name="pur_quo_prtdest" placeholder="Port Of Destination" required>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputpassword"><span style="color:blue;">Shipment Terms</span><span style="color:#d81b60;">*</span></label>
                                                            <select class="form-control" id="pur_shpmnterms" ng-model="pur_quo_shpmnterms" name="pur_quo_shpmnterms" required>
                                                                <option value="" disabled>select</option>
                                                                <option value="FOB">FOB</option>
                                                                <option value="CAD">CAD</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputPassword1"><span style="color:blue;">Date Of Delivery</span><span style="color:#d81b60;">*</span></label>
                                                            <input type="text" class="form-control" id="pur_quo_dt_delvry" ng-model="pur_quo_dt_delvry" name="pur_quo_dt_delvry" placeholder="dd-mm-yy" required>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputPassword1"><span style="color:blue;">Delivery Country</span><span style="color:#d81b60;">*</span></label>
                                                             <input type="text" class="form-control" id="pur_quo_del_country" ng-model="pur_quo_del_country" name="pur_quo_del_country" placeholder="Delivery Country" required> 
                                                            <select class="form-control" id="pur_quo_del_country" ng-model="Country" name="Country" ng-change="GetStateList()">
                                                                <option value="0" disabled>--Select Country Id--</option>
                                                                <option ng-repeat="C in Countrylist" value="">()</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputPassword1"><span style="color:blue;">Delivery State</span><span style="color:#d81b60;">*</span></label>
                                                             <input type="text" class="form-control" id="pur_quo_del_state" ng-model="pur_quo_del_state" name="pur_quo_del_state" placeholder="Delivery State" required> 
                                                            <select class="form-control" id="pur_quo_del_state" ng-model="State" name="State"  ng-change="GetCityList()">
                                                                <option value="0" disabled>--Select State--</option>
                                                                <option ng-repeat="S in Satelist" value=""></option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputPassword1"><span style="color:blue;">Delivery City</span><span style="color:#d81b60;">*</span></label>
                                                            <input type="text" class="form-control" id="pur_quo_del_city" ng-model="pur_quo_del_city" name="pur_quo_del_city" placeholder="Delivery City" required>
                                                             <select class="form-control" id="pur_quo_del_city" ng-model="City" name="City">
                                                                <option value="0" disabled>--Select City--</option>
                                                                <option ng-repeat="C in Citylist" value=""></option>
                                                            </select> 
                                                        </div>
                                                        
                                                       
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputpassword"><span style="color:blue;">Delivery Address</span><span style="color:#d81b60;">*</span></label>
                                                            <textarea class="form-control" id="pur_quo_del_add" ng-model="pur_quo_del_add" name="pur_quo_del_add" placeholder="Delivery Address" required></textarea>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInput"><span style="color:blue;">Delivery Terms</span><span style="color:#d81b60;">*</span></label>
                                                            <textarea class="form-control" id="pur_quo_del_terms" ng-model="pur_quo_del_terms" name="pur_quo_del_terms"></textarea>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputpassword"><span style="color:blue;">Remarks</span><span style="color:#d81b60;">*</span></label>
                                                            <textarea class="form-control" id="pur_quo_remrk" ng-model="pur_quo_remrk" name="pur_quo_remrk" placeholder="Remarks" required></textarea>
                                                        </div>


                                                    </div>

                                                    <!-- /.box-body -->
                                                    <!--  <div class="box-footer">
                                      <button type="submit" class="btn btn-primary">Submit</button>
                                    </div> -->

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="epid" ng-model="epid" name="epid" />

                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    function addrow() {
        var html = '<tr>' +
                    '<td><input type="text" class="form-control"  placeholder="S.No"/></td>' +
                    '<td onclick="addrow()"><input type="text" class="form-control"  data-target="#pur_prod_id" data-toggle="modal" placeholder="&#61442;"style="font-family:FontAwesome;"/></td>' +
                    '<td><input type="text" class="form-control" readonly></td>' +
                    '<td width="150"><input type="text" class="form-control"></select></td>' +
                    '<td width="150"><select class="form-control"><option value="2">kgs</option></select></td>' +
                     '<td><input type="text" class="form-control" placeholder="Price" /></td>' +
                     '<td><select class="form-control"><option value="">Amount</option><option value="">Percentage</option></select></td>' +
                     '<td><input type="text" class="form-control" placeholder="Discount"/></td>' +
                     '<td><input type="text" class="form-control" placeholder="Tax Amount" /></td>' +
                     '<td><input type="text" class="form-control" placeholder="Total Amount"/></td>' +
                    '<td><td>' +
                    '</tr>'
        $(html).appendTo($("#txtbody"))
    };
    function deleterow() {
        var par = $(this).parent().parent();
        par.remove();
    };
    //$("#txtbody").on("click", ".BtnMinus", deleterow);
    $(document).ready(function () {
        var html
        $("#pur_quo_dt_delvry").datepicker({
            showWeek: "true",
            dateFormat: "dd-mm-yy"
        });
    });
    function GetEmplrbarchllist() {
        angular.element(document.getElementById('PurchaseQuotation')).scope().GetEmployeerbarchllistdet();
    }
</script>


