<div class="col-md-12">
    <div class="nav-tabs-custom" style="width:102%">
        <ul class="nav nav-tabs" style="margin-top: -15px; margin-left: 2px;">

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    POLICIES<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">FINANCIAL <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a class="test" href="#">SETUP<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Reports/re/approve_status">Approvals Setup</a></li>
                                </ul>
                           
                            </li>
                            <li><a href="#">SEGEMENTS</a></li>
                            <li><a href="/Financila/Fn/Asset">ASSETS</a></li>
                            <li><a href="/Financila/Fn/chartofaccts">CHART OF ACCOUNTS</a></li>

                            <li class="dropdown-submenu">
                                <a class="test" href="#">VOUCHERS<span class="caret"></span></a>

                                <ul class="dropdown-menu">
                                    <li><a href="/Financila/Fn/ReceiptVoucher">RECEIPT VOUCHER</a></li>
                                    <li><a href="/Financila/Fn/PaymentVocher">PAYMENT VOUCHER</a></li>
                                    <li><a href="#">CONTRA</a></li>
                                    <li><a href="#">JOURNAL</a></li>
                                    <li><a href="#">PDC / CDC ISSUE</a></li>
                                    <li><a href="#">PDC /CDC COLLECTION</a></li>
                                    <li class="dropdown-submenu">
                                        <a class="test" href="#">BANK RECONCILATION<span class="caret"></span></a>
                                         <ul class="dropdown-menu">
                                             <li><a href="/Stk/mgmt/BankMast">BANKS</a></li>
                                         </ul>
                                    </li>
                                    <li><a href="assets.html">ASSETS</a></li>                                                          
                                </ul>
                            </li>
                        </ul>
                    </li><li class="dropdown-submenu">
                        <a class="test" href="#">LOGISTICS<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="test" href="#">PROCUREMENT<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/procure/pc/material">MATERIALREQUEST</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="test" href="#">PURCHASES<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Enterprise/ES/Supplier">SUPPLIERS</a></li>
                                </ul>
                            </li>
                                <li><a class="test" href="#">SALES<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Enterprise/ES/CSupport">COUSTOMERS</a></li>
                                    </ul>

                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" href="#">INVENTORY MANAGEMENT<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="job-group.html">ITEM CATEGORY</a></li>
                                    <li><a href="job-class.html">ITEM GROUP</a></li>
                                    <li><a href="job-category.html">INVENTORY ITEMS</a></li>
                                    <li><a href="job-catalouge.html">GOODS RECIEPT NOTE (GRN)</a></li>
                                    <li><a href="grade-master.html">DELIVERY NOTE(DO)</a></li>

                                </ul>
                            </li>
                            </ul>
                            </li>
                                                                   
                 
                        

                        <li class="dropdown-submenu">
                            <a class="test" tabindex="-1" href="#">ADMINISTRATION <span class="caret"></span></a>

                            <ul class="dropdown-menu">

                                <li class="dropdown-submenu">
                                    <a class="test" href="#">APPROVAL WORKFLOW <span class="caret"></span></a>
                                           </li><li><a href="/Reports/re/Approve">APPROVALS</a></li>
                                    <a class="test" href="#">JOB CLASSIFICATION <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Job/jb/Jobgroup">JOB GROUP</a></li>
                                        <li><a href="/Job/jb/Jobclass">JOB ClASS</a></li>
                                        <li><a href="/Job/jb/Jobcategory">JOB CATEGORY</a></li>
                                        <li><a href="job-catalouge.html">JOB CATALOUGE</a></li>
                                        <li><a href="grade-master.html">GRADE MASTER</a></li>
                                        <li><a href="step-master.html">STEP MASTER</a></li>
                                        <li><a href="job-grade-step.html">JOB GRADE STEP</a></li>

                                    </ul>
                                



                            </ul>
                        </li>


                    </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    HR MODULE <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>

                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    CRM MODULE <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>

                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    REPORTS<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">LOGISTICS REPORTS</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/Reports/re/GeneralLedge">FINANCIAL REPORTS</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">ADMIN REPORTS</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">MIS REPORTS</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">OTHER REPORTS</a></li>

                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    MAINTENANCE <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    USER ACCESS MANAGEMENT<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/GroupDefinition">Group Definition</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/UserCreation">User Creation</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/UserPermition">User_permistion</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/ServiceCreation">Service Creation</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/Groupmapping">Group Mapping</a></li>
                </ul>
            </li>
            <li>
                <a href="/Reports/re/Approve">Approvals</a>
            </li>
            <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
        </ul>

    </div>
</div>