<div class="col-md-12" style="margin-left:-5px" >
    <div class="nav-tabs-custom" style="width:103%">
        <ul class="nav nav-tabs" style="margin-top: -15px; margin-left: 2px;">

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    SCM
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Policies </a>
                        <ul class="dropdown-menu">
                            <li><a routerLink="/customer">Customer</a></li>
                            <li><a routerLink="/supplier">Supplier</a></li>
                            <li><a class="test" tabindex="-1" href="#">Warehouse <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a routerLink="/floor">Floor</a></li>
                                    <li><a routerLink="/row">Row</a></li>
                                    <li><a routerLink="/rack">Rack</a></li>
                                    <li><a routerLink="/WareHouse">Warehouse</a></li>
                                </ul>
                            </li>
                            <li><a routerLink="/item-category">Item Category</a></li>
                            <li><a routerLink="/itemgroup">Item Group</a></li>
                            <li><a routerLink="/stockitem">Item Master</a></li>
                            <li><a routerLink="/UOM">UOM</a></li>
                          
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">Templates <span class="caret"></span></a>
    
                                <ul class="dropdown-menu">
                                            <li><a href="/Job/jb/Jobgroup">Payment terms templates</a></li>
                                            <li><a routerLink="/jobclass">Jobclass</a></li>
                                            <li><a routerLink="/jobcategory">Jobcategory</a></li>
                                            <li><a href="job-catalouge.html">Any other templates</a></li>
                                           </ul>
                            </li>
                          
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="test" href="#">Inventory Management<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a routerLink="/stock-adjustment-note">Stock Adjustment Note</a></li>
                            <li><a routerLink="/stockin-hand-register">Stock in hand Register</a></li>
                            <li><a routerLink="/stock-movement-register">Stock movement Register</a></li>
                            <li><a routerLink="/delivery-note">Delivery note</a></li>
                            <li><a routerLink="/good-receipt-note">Good Receipt note / POD </a></li>
                            <li><a routerLink="/sales-returns">Sales Returns</a></li>
                            <li><a routerLink="/purchase-returns">Purchase returns</a></li>
                            </ul>
                            </li>
                                                                   
                 
                            <li class="dropdown-submenu">
                                <a class="test" href="#">Logistics<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu">
                                        <a class="test" tabindex="-1" href="#">Procurement <span class="caret"></span></a>
            
                                        <ul class="dropdown-menu">
                                            <li><a routerLink="/purchase-requisition">Supplier enquiry</a></li>
                                            <li><a routerLink="/purchase-quotation">Incoming Quotation</a></li>
                                            <li><a routerLink="/material-requisition">Supplier Quotation comparison</a></li>
                                            <li><a routerLink="/purchase-order">Purchase order</a></li>
                                           
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="test" tabindex="-1" href="#">Sales <span class="caret"></span></a>
            
                                        <ul class="dropdown-menu">         
                                            <li><a routerLink="/sales-enquiry">Sales enquiry</a></li>
                                            <li><a routerLink="/outgoing-quotation">Outgoing quotation</a></li>
                                            <li><a routerLink="/sales-order">Sales order</a></li>
                                                    
                                        </ul>
                                    </li>
                                    </ul>
                                    </li>

                    
                       
                        <li class="dropdown-submenu">
                            <a class="test" tabindex="-1" href="#">Reports <span class="caret"></span></a>

                            <ul class="dropdown-menu">
                                        <li><a href="/Job/jb/Jobgroup">Inventory reports</a></li>
                                        <li><a href="/Job/jb/Jobclass">Other customized reports</a></li>
                                        <li><a href="/Job/jb/Jobcategory">Stock adjustment reports</a></li>
                                        <li><a href="job-catalouge.html">Stock in hand Register</a></li>
                                        <li><a href="grade-master.html">Stock movement register</a></li>
                                        <li><a href="step-master.html">Supplier Quotation comparison report</a></li>
                                        <li><a href="job-grade-step.html">Pending Invoices report</a></li>
                                        <li><a href="/Job/jb/Jobgroup">Pending GRN report</a></li>
                                        <li><a href="/Job/jb/Jobclass">Supplier Invoice aging report</a></li>
                                        <li><a href="/Job/jb/Jobcategory">GRN Aging report</a></li>
                                        <li><a routerLink="po-ageing-report">PO Ageing report</a></li>
                                        <li><a href="grade-master.html">Goods in Tansit report</a></li>
                                        <li><a href="step-master.html">Goods Receipt Note Report day / Week /Month</a></li>
                                        <li><a href="job-grade-step.html">Goods Delivered Report day / Week /Month</a></li>
                                        <li><a href="/Job/jb/Jobgroup">Landing cost statement</a></li>
                                        <li><a href="/Job/jb/Jobclass">Inventory / Valuations report</a></li>
                                        <li><a routerLink="purchase-order-report">Pending PO report</a></li>
                                        <li><a routerLink="sales-order-report">Pending SO report</a></li>
                            </ul>
                        </li>

                    </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    FINANCE <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Policies </a>
                        <ul class="dropdown-menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" routerLink="allocation-segments">Accounts allocation segments</a></li>
                            <li><a routerLink="/budgeting-of-gls">Budgeting of GL's</a></li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">Settings <span class="caret"></span></a>
        
                                <ul class="dropdown-menu">
        
                                            <li><a routerLink="/fisical-year">Fisical year settings</a></li>
                                            <li><a routerLink="/financial-year">Financial year setting</a></li>
                                            <li><a routerLink="/finfis-month-closing">Fisical & financial month closing</a></li>
                                            <li><a routerLink="/finfis-year-closing">Fisical & financial year closing</a></li>
                                            <li><a routerLink="/alert-settings">Alert Settings</a></li>
                                </ul>
                            </li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Templates</a></li>

                          
                        </ul>
                    </li>
                    <li><a routerLink="/chart-of-accts" >Chart of Accounts</a></li>
                    <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Vouchers <span class="caret"></span></a>

                        <ul class="dropdown-menu">

            
                            <li><a routerLink="/journal-voucher">Journal Voucher</a></li>
                            <li><a routerLink="/payment-voucher">Payment Voucher </a></li>
                            <li><a routerLink="/receipt-voucher">Receipt Voucher</a></li>
                                    <li><a routerLink="/supplier-invoice">Supplier Invoice</a></li>
                                    <li><a routerLink="/customer-invoice">Customer Invoice</a></li>
                                    <li><a routerLink="/credit-note">Credit Note</a></li>
                                    <li><a routerLink="/debit-note">Debit Note</a></li>
                            
 </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Fixed Assests <span class="caret"></span></a>

                        <ul class="dropdown-menu">

                                    <li><a routerLink="/asset">Fixed Assests Master</a></li>
                                    <li><a href="/Job/jb/Jobclass">Depriciaton calculation</a></li>
                                    <li><a href="/Job/jb/Jobcategory">Depriciation Posting</a></li>
                                    <li><a href="job-catalouge.html">Appriciation calculation</a></li>
                                    <li><a href="grade-master.html">Appriciation posting</a></li>
                                  

                        </ul>
                    </li>
                    <li><a routerLink="/bank-reconcilation">Bank Reconcilation Statement</a></li>
                    <li ><a role="menuitem" tabindex="-1" href="#">CDC & PDC management</a></li>
                   

                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    PROJECT MANAGEMENT <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ><a role="menuitem" tabindex="-1" href="#">Policies</a></li>
                    <li ><a routerLink="/gantt-chart">Gantt Chart</a></li>
                    <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Project Master<span class="caret"></span></a>

                        <ul class="dropdown-menu">

                                    <li><a href="/Job/jb/Jobgroup">WBS Master</a></li>
                                    <li><a href="/Job/jb/Jobclass">Estimations Master</a></li>
                                    <li><a href="/Job/jb/Jobcategory">Budgeting</a></li>
                               
                                
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Material Management<span class="caret"></span></a>

                        <ul class="dropdown-menu">

                            <li><a routerLink="/material-requisition">Material request</a></li>
                                    <li><a href="/Job/jb/Jobclass">Stock Issue note</a></li>
                                    <li><a href="/Job/jb/Jobcategory">Stock Return Note</a></li>
                                    <li><a href="job-catalouge.html">Stock Movement Register</a></li>
                                
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Resource Management<span class="caret"></span></a>

                        <ul class="dropdown-menu">

                                    <li><a href="/Job/jb/Jobgroup">Resource request note</a></li>
                                    <li><a href="/Job/jb/Jobclass">Resorce return / Transfer note</a></li>
                                    <li><a href="/Job/jb/Jobcategory">Material Invoice Submission</a></li>
                                    <li><a href="job-catalouge.html">Resource Invoice Submission</a></li>
                                
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Asset Management <span class="caret"></span></a>

                        <ul class="dropdown-menu">

                                    <li><a href="/Job/jb/Jobgroup">Asset allocation to Resources</a></li>
                                    <li><a href="/Job/jb/Jobclass">Asset verification note</a></li>
                                    <li><a href="/Job/jb/Jobcategory">Assest verification report</a></li>
                             
                                
                        </ul>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reports</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    CRM <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Solutions</a></li> -->
                    <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Marketing <span class="caret"></span></a>

                        <ul class="dropdown-menu">

                                    <li><a routerLink="/customer">Contacts</a></li>
                                    <li><a routerLink="/campaign">Campaigns</a></li>
                                    <li><a routerLink="/campaign">Campaign Activites</a></li>
                                    <li><a routerLink="/quick-campaign">Quick Campaigns</a></li>
                             
                                
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Sales<span class="caret"></span></a>

                        <ul class="dropdown-menu">

                                    <li><a routerLink="/leads">Leads</a></li>
                                    <li><a  routerLink="/sales-enquiry">Opportunities</a></li>
                                    <li><a routerLink="/compitetors">Compitetors</a></li>
                                    <li><a routerLink="/stockitem">Products</a></li>
                                    <li><a routerLink="/outgoing-quotation">Quotes</a></li>
                                    <li><a routerLink="/sales-order">Orders</a></li>
                                    <li><a routerLink="/customer-invoice">Invoice</a></li>
                             
                                
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Service Management<span class="caret"></span></a>

                        <ul class="dropdown-menu">

                                    <li><a href="/Job/jb/Jobgroup">Service Calls</a></li>
                                    <li><a href="/Job/jb/Jobclass">Service Calendar</a></li>
                                    <li><a href="/Job/jb/Jobcategory">Service Assignment</a></li>
                                    <li><a href="/Job/jb/Jobcategory">Service Invoice</a></li>
                                
                        </ul>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reports</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    HCM <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Payroll Policies Management</a></li>
                   <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Personal Administration<span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" routerLink="/employee-group">Employee Group</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Employee Sub Group</a></li>
                                
                        </ul>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Recruitment</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Time Management</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Payroll</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Performance Management</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" routerLink="/sucession-management">Sucession Management</a></li>
                    <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Training Management<span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Training Setup</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Training Courses</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Training Institutes</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Training Instructors</a></li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">Training Evalutation<span class="caret"></span></a>
        
                                <ul class="dropdown-menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">General Setup</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Evaluation Subjects</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Evaluation Actions</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Evaluation Sections</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Evaluation Questions</a></li>
                                        
                                </ul>
                            </li>   
                        </ul>
                    </li>
                   
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Training Management</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">ESS and MSS</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reporting</a></li>
                
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    MIS REPORTS<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/GroupDefinition">Reports</a></li>
                    <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Financial Statements<span class="caret"></span></a>

                        <ul class="dropdown-menu">

                            <li><a routerLink="/tradingaccount">Trading account</a></li>
                                    <li><a href="/Job/jb/Jobclass">P & L account</a></li>
                                    <li><a href="/Job/jb/Jobcategory">Balance sheet</a></li>
                                    <li><a routerLink="/generalledge">General Ledger</a></li>
                                    <li><a routerLink="/generalledgeprint">GL Ledger Report</a></li>
                                    <li><a href="/Job/jb/Jobgroup">Supplier Statement of Account report</a></li>
                                    <li><a href="/Job/jb/Jobclass">Customer Statement of Account report</a></li>
                                    <li><a href="/Job/jb/Jobcategory">Fixed Assests Register</a></li>
                                    <li><a href="/Job/jb/Jobcategory">Depriciation posting Report</a></li>
                                    <li><a href="/Job/jb/Jobcategory">Accumulated Depriciation Report</a></li>
                                
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Procurement Reports<span class="caret"></span></a>

                        <ul class="dropdown-menu">

                                    <li><a href="/Job/jb/Jobgroup">Landing cost statement</a></li>
                                    <li><a href="/Job/jb/Jobclass">Pending invoices report</a></li>
                                    <li><a href="/Job/jb/Jobcategory">Pending DL report</a></li>
                                    <li><a href="/Job/jb/Jobcategory">Pending Receipts report</a></li>
                                    <li><a href="/Job/jb/Jobgroup">Customer invoice aging report</a></li>
                                    <li><a href="/Job/jb/Jobclass">DL aging report</a></li>
                                    <li><a href="/Job/jb/Jobcategory">SO ageing report</a></li>
                                    <li><a href="/Job/jb/Jobcategory">Supplier Quotation comparision</a></li>
                                    <li><a href="/Job/jb/Jobgroup">Supplier Statement of Account report</a></li>
                                    <li><a href="/Job/jb/Jobclass">Customer Statement of Account report</a></li>
                                    <li><a href="/Job/jb/Jobclass">Ratio analysis reports</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    MAINTENANCE<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">User Management<span class="caret"></span></a>

                        <ul class="dropdown-menu">

                            <li><a routerLink="/usercreation">User Creation</a></li>
                            <li><a routerLink="/group-creation">User Group Creation</a></li>
                            <li><a routerLink="/form-management">Form Management</a></li>
                            <!-- <li><a routerLink="/user-management">User Management</a></li> -->
                                    <!-- <li><a href="/Job/jb/Jobclass">User Rolles</a></li>
                                    <li><a href="/Job/jb/Jobcategory">User Access levels Setup</a></li>
                                    <li><a href="/Job/jb/Jobcategory">User Acess Interface</a></li>
                    -->
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">User Approvals<span class="caret"></span></a>

                        <ul class="dropdown-menu">

                            <li><a routerLink="/approve">Approvals Settings</a></li>
                            <li><a routerLink="/approve-status">Approvals Assignment</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    IMPORTS & DOWNLOADS <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/GroupDefinition">Imports</a></li>
                    <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Rates Import<span class="caret"></span></a>

                        <ul class="dropdown-menu">

                                    <li><a href="/Job/jb/Jobgroup">Sales tax Rates</a></li>
                                    <li><a href="/Job/jb/Jobclass">Income tax Rate</a></li>
                                    <li><a href="/Job/jb/Jobgroup">GST rates</a></li>
                                    <li><a href="/Job/jb/Jobclass">Item Daily Rate update</a></li>
                                    <li><a href="/Job/jb/Jobgroup">Customerwise rate fixing</a></li>
                                   
                           
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Master Import<span class="caret"></span></a>

                        <ul class="dropdown-menu">

                                    <li><a href="/Job/jb/Jobgroup">Customer</a></li>
                                    <li><a href="/Job/jb/Jobclass">Supplier</a></li>
                                    <li><a href="/Job/jb/Jobgroup">Item</a></li>
                                    <li><a routerLink="/chart-of-accts" >Chart of Accounts</a></li>
                                    <li><a href="/Job/jb/Jobgroup">Trail Balance</a></li>
                                    
                           
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
        </ul>

    </div>
</div>