@import "variables";

@import "./user-form";
@import "./utilities";
@import "./login";
@import "./admin";
@import "./super-admin";
@import "./sidebar";
@import "./dropdown";
@import "./upload";
@import "./approval.scss";
@import "./process.scss";
@import "./dashboard.scss";

body,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
.navbar,
.brand,
.btn-simple,
.alert,
a,
.td-name,
td,
button.close {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
}

html,
body {
  height: 100%;
}

body {
  background-color: $body-bg;
  background-color: rgba(203, 203, 210, 0.15);
  background-color: rgba(235, 238, 243, 0.9);
  color: $body-color;
}

html,
body .table {
  color: $body-color;
}

a {
  color: $link-color;

  &:hover,
  &:focus {
    color: darken($link-color, 10%);
  }
}

.content-wrapper {
  height: calc(100% - 50px);
}

header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  .navbar {
    height: 50px;
  }
}

.im-logo {
  max-width: 130px;
  display: block;

  img {
    display: block;
    max-width: 100%;
  }
}

.btn {
  font-weight: 500;
  border-radius: 50px;
}

.btn-primary {
  color: #fff;
  background-color: $primary;
  border-color: $primary;
  &:hover,
  &:focus,
  &:active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus {
    background-color: $primary-hover;
    border-color: $primary-hover;
    box-shadow: none;
    color: #fff;
  }
  &.disabled,
  &:disabled {
    background-color: lighten($primary, 10%);
    border-color: lighten($primary, 10%);
  }
}

.btn-outline-primary {
  color: $primary;
  border-color: $primary;
  &:hover,
  &:focus,
  &:active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus {
    background-color: $primary;
    border-color: $primary;
    box-shadow: none;
    color: #fff;
  }
  &.disabled,
  &:disabled {
    background-color: lighten($primary, 10%);
    border-color: lighten($primary, 10%);
  }
}

.btn-outline-secondary {
  color: $secondary-btn-text-color;
  border-color: $secondary-btn-border-color;
  &:hover,
  &:focus,
  &:active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus {
  }
}

.page-header {
  margin-bottom: 20px;

  h3 {
    font-size: 24px;
    font-weight: bold;
    // margin-bottom: 5px;
    margin-bottom: 0;
  }

  p {
    font-size: 15px;
    // font-weight: 300;
    color: #666;
    margin-bottom: 0;
  }
}

.breadcrumb {
  background: none;
  padding-left: 0;
  font-size: 14px;
  margin-bottom: 0;

  .breadcrumb-item {
    a {
      color: #4a90e2;
    }
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "";
  display: none;
}

.search-user-wrapper {
  width: 250px;

  @media (max-width: 992px) {
    width: 200px;
  }
}

.manage__user__table {
  td {
    line-height: 30px;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    vertical-align: middle;
    width: calc((100% - 150px) / 5);
    p {
      margin: 0;
    }
    &.status__col {
      width: 100px;
    }
    &.edit__col {
      width: 50px;
    }
  }
  .manage__user__status {
    display: flex;
  }
  .manage__user__action {
    height: 30px;
  }
}

.manage-user__filters {
  padding-left: 15px;
}

.manage-user__filter-role,
.manage-user__filter-status {
  width: 150px;
}

.manage-user__edit {
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--success);
  }
}

.manage-user__delete {
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--danger);
  }
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: $primary;
  background-color: $primary;
}

.disabled-badge {
  position: absolute;
  top: 0;
  right: 0;
}

tr {
  .disabled-badge {
    display: none;
  }
  &.disabled {
    td {
      background-color: #eee;
    }
    .disabled-badge {
      display: block;
    }
  }
}

.modal-footer .btn {
  min-width: 100px;
}

.wait-sheen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1500;
  background-color: rgba(255, 255, 255, 0.9);
  .sheen-content {
    text-align: center;
    position: relative;
  }
}

select.form-control {
  width: auto !important;
  padding-right: 35px !important;
  border-color: transparent !important;
  padding: 5px 45px 5px 15px;
  line-height: 30px;
  height: auto;
  background-color: #fff;
  min-width: 150px;
  margin-left: 15px;
  font-size: 16px;
  font-weight: 500;
  &.disabled,
  &:disabled {
    border-color: rgba(0, 0, 0, 0.125) !important;
    background-image: url(./../img/chevron-down-disabled.svg) !important;
    background-position: right 18px center !important;
    background-repeat: no-repeat !important;
    background-size: 12px !important;
    cursor: not-allowed;
  }
}

.form-control {
  &.disabled,
  &:disabled {
    cursor: not-allowed;
  }
}

.table-wrapper {
  overflow-x: auto;
}

.min-width-accordion {
  width: 100% !important;
  padding: 0 15px !important;
  line-height: 38px;
  color: #fff !important;
  font-weight: 500;
  background-color: #333 !important;
  &:hover {
    background-color: #333 !important;
  }
  i {
    float: right;
    transform: rotate(180deg);
  }
  label {
    margin: 0;
  }
  &.collapsed {
    color: #333 !important;
    border: 1px solid #dbdbdb;
    background-color: #fff !important;
    &:hover {
      color: #fff !important;
      background-color: #333 !important;
    }
    i {
      float: right;
      transform: rotate(0deg);
    }
  }
}

.panel {
  .card {
    margin-bottom: 10px;
  }
  .card-header {
    box-shadow: none !important;
    border: none !important;
  }
}

input[type="checkbox"],
input[type="radio"] {
  &.disabled,
  &:disabled {
    + label {
      cursor: not-allowed;
    }
  }
}

.manage__org__form {
  &.data-source {
    max-width: 600px;
  }
  &.data-source {
    max-width: 600px;
  }
  &.bu {
    max-width: 600px;
  }
}

.ui-autocomplete-panel .ui-autocomplete-list {
  background-color: #fff;
}

.ui-chkbox {
  // display: none;
}

.add-column-btn {
  min-width: 50px !important;
}

.custom-check-box {
  position: relative;
  .ui-chkbox {
    position: absolute;
    left: -1px;
    top: 1px;
  }
}

.alert-wrapper {
  position: fixed;
  top: 80px;
  right: 20px;
  z-index: 1;
}

.form-control.dataTypeSelect {
  width: 100% !important;
}

.customer-logo-block {
  img {
    height: 30px;
    margin-top: 5px;
    margin-right: 15px;
  }
}

.notif-block {
  margin-right: 15px;
}

.notif-dropdown-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  .nav-link {
    padding: 12px 10px;
    font-size: 16px;
    &:hover {
      background-color: #eee;
    }
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background-color: #17a2b8;
  }
  .dropdown-menu {
    top: 60px;
    right: 0px;
    left: unset;
    width: 460px;
    box-shadow: 0px 5px 7px -1px #c1c1c1;
    padding-bottom: 0px;
    padding: 0px;
    max-height: 260px;
    overflow: scroll;
  }
  .dropdown-menu:before {
    content: "";
    position: absolute;
    top: -20px;
    right: 12px;
    border: 10px solid #343a40;
    border-color: transparent transparent #343a40 transparent;
  }
  .notif-ticker {
    position: absolute;
    border-radius: 5px;
    background-color: red;
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    text-align: center;
    min-width: 17px;
    right: 0px;
    top: 4px;
  }
  .head {
    padding: 5px 15px;
    border-radius: 3px 3px 0px 0px;
  }
  .footer {
    padding: 5px 15px;
    border-radius: 0px 0px 3px 3px;
  }
  .notification-box {
    padding: 10px 0px;
  }
  .bg-gray {
    background-color: #eee;
  }
}

.card {
  border: none;
  box-shadow: 0 2px 4px #cecece;
}