

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StockItemView</title>
    
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Content/Scripts/Login.js"></script>
    <script src="~/Content/Scripts/EEE.js"></script>
    
    <script src="~/Scripts/litty.js"></script>
    <script src="~/Content/Scripts/Stockmgmt.js"></script>
    <script>
       
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[1]);
        }
        $(document).ready(function () {
           
            if (parseFloat(vars) > 0) {
                angular.element(document.getElementById('stockitemCntrl')).scope().GetStockitembyid(vars[0]);
            }

        });
    </script>
    <style>
        .tbtextcolor {
            color: black;
            width: 100%;
            background-color: antiquewhite;
        }
    </style>
</head>
<body ng-app="Myapp" ng-controller="StockitemsController">  
    <div class="row" id="stockitemCntrl">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                     <li class="active" id="lifirsttab1"><a href="#lifirsttab" id="afirsttab" data-toggle="tab"> StockItem List</a></li> 
                    <li class="active">
                        <a href="#tab_1" data-toggle="tab">
                            Add StockItem
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        StockItem Details
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="box box-primary " style="border-top:none;">
                                                <!--   <div class="box-header with-border">
                                                  <h3 class="box-title">Quick Example</h3>
                                                </div> -->
                                                <!-- /.box-header -->
                                                <!-- form start -->

                                                <form role="form">


                                                    <div class="box-body" ng-repeat="item in GetItemStock">

                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1" style="color:blue;">Item Code</label><span style="color:red">*</span>
                                                            <label type="text" class="form-control" ng-model="ItemCode" name="ItemCode" id="ItemCode" placeholder="Item Code"></label>

                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputPassword1" style="color:blue;">Item Name</label><span style="color:red">*</span>
                                                            <label type="text" class="form-control" ng-model="ItemName" name="ItemName" id="ItemName"></label>

                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputFile" style="color:blue;">Item Category</label><span style="color:red">*</span>
                                                             <select class="form-control" id="ItemCategory" ng-model="ItemCategory" name="ItemCategory" required>
                                                                <option value="Select"></option>
                                                            </select> 
                                                            <label type="text" class="form-control" ng-model="Itemcat" name="Itemcat" id="Itemcat"></label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputFile" style="color:blue;">Item Group</label><span style="color:red">*</span>
                                                             <select class="form-control" id="ItemGroup" ng-model="ItemGroup" name="ItemGroup" required>
                                                                <option value=""></option>
                                                            </select> 
                                                            <label type="text" class="form-control" ng-model="Itemcat" name="Itemcat" id="Itemcat"></label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputPassword1" style="color:blue;">Unit Of Measure</label><span style="color:red">*</span>
                                                             <select class="form-control" id="UnitOfMeasure" ng-model="UnitOfMeasure" name="UnitOfMeasure" required>
                                                                <option value=""></option>
                                                            </select> 
                                                            <label type="text" class="form-control" ng-model="Itemcat" name="Itemcat" id="Itemcat"></label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputPassword1" style="color:blue;">Rate</label><span style="color:red">*</span>
                                                            <label type="text" class="form-control" ng-model="Rate" name="Rate" id="Rate" placeholder="Rate" required></label>

                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputPassword1" style="color:blue;">SI Status</label><span style="color:red">*</span>
                                                            <label type="text" class="form-control" ng-if="item.SIStatus== 0">Available</label>
                                                            <label type="text" class="form-control" ng-if="item.SIStatus== 1">Not Available</label>

                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputPassword1" style="color:blue;">Tax Rate</label><span style="color:red">*</span>
                                                            <label type="text" class="form-control" ng-model="Tax_Rate" name="Tax_Rate" id="Tax_Rate" placeholder="Tax Rate" required></label>

                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputPassword1" style="color:blue;">Tax Rate Effective Date</label><span style="color:red">*</span>
                                                            <label type="text" class="form-control" ng-model="Tax_Rate_Effective_Date" name="Tax_Rate_Effective_Date" id="Tax_Rate_Effective_Date" placeholder="Tax Rate Effective Date" required></label>

                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputPassword1" style="color:blue;">Open Balance</label><span style="color:red">*</span>
                                                            <label type="text" class="form-control" ng-model="Open_Balance" name="Open_Balance" id="Open_Balance" placeholder="Open Balance" readonly></label>

                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputPassword1" style="color:blue;">Reorder Quantity</label><span style="color:red">*</span>
                                                            <label type="text" class="form-control" ng-model="Reorder_Quantity" name="Reorder_Quantity" id="Reorder_Quantity" placeholder="Reorder Quantity" required></label>

                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputPassword1" style="color:blue;">Current Balance</label><span style="color:red">*</span>
                                                            <label type="text" class="form-control" ng-model="Current_Balance" name="Current_Balance" id="Current_Balance" placeholder="Current Balance" readonly></label>

                                                        </div>

                                                    </div>

                                                    <!-- /.box-body -->
                                                    <!--  <div class="box-footer">
                                                      <button type="submit" class="btn btn-primary">Submit</button>
                                                    </div> -->

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                     <button type="button" ng-show="Isedit==0" class="btn bg-maroon margin" ng-disabled="StockItemform1.$invalid" ng-click="SetStockItem()">Save</button>
                                        <button type="button" ng-show="Isedit==1" class="btn bg-maroon margin" ng-disabled="StockItemform1.$invalid" ng-click="SetStockItem()">Update</button>
                                        <button type="button" class="btn bg-maroon margin">Cancel</button>
                                        <button type="button" class="btn bg-maroon margin">Exit</button> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
