<div>
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">List of Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">
              <i class="fas fa-chevron-right pr-2"></i>{{dashboard_Name}}</li>
      </ol>
  </nav>
  <div *ngIf="backToApproval" class="d-flex justify-content-between align-items-end data__uploads__header mb-3 mt-2">
        <div>
            <button (click)="backClick()" class="btn btn-sm btn-back d-flex align-items-center">
                <svg width="25" height="9" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 0v4h22v1H9v4L0 4.5 9 0z" fill="currentColor" fill-rule="nonzero"></path>
                </svg>
                <span>&nbsp;&nbsp;back to approval</span>
            </button>
        </div>
    </div>
  <div class="clearfix page-header">
      <h3 class="float-left">{{dashboard_Name}}</h3>
      <button (click)="downloadFile()" class="btn btn-primary float-right" type="button">Download Data</button>
      <!-- <p>this page is just to list down all (module wise) html files</p> -->
  </div>
  <div class="clearfix dashboard">
      <div class="dashboard__card__wrapper">
          <div class="iframe-container">
              <iframe id="tableauViewFrame" align="center" frameborder="0" scrolling="yes"
                  [src]='dashboardURL'>
              </iframe>
          </div>
      </div>
  </div>
  <div class="d-flex data__uploads"></div>
</div>