.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.row1 {
    
    display: inherit;
    
    margin-right: -15px;
    margin-left: -15px;
}
.card {
    position: relative;

    display: flex;
    
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-group {
  
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
}
.m-b-30 {
    margin-bottom: 30px !important;
}


.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
    background-color: #fff;
    text-align: center;
}