<div class="wrapper" id="con">

  <ul class="wrapper" style="height: auto">

    <app-topbar></app-topbar>
      <app-sidebar></app-sidebar>
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          
          <!-- Main content -->
          <section class="content">
              <!-- Small boxes (Stat box) -->
              <div class="row">        
              <app-topmenu></app-topmenu>
              <!-- <div class="breadcrumb-container" style="margin-top:-30px">
                <ul class="breadcrumb" style="background:none;padding:15px">
                 [breadcrumb]
                </ul>
              </div> -->
              <router-outlet></router-outlet>
              </div>
             
          </section>
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <!-- /.content -->
  </ul></div>