<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <!-- Logo -->
    <a href="index.html" class="logo" style="color:#000;background:#fff;padding:24px 18px">
        <!-- mini logo for sidebar mini 50x50 pixels -->
      
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b><img src="assets/img/esmart.png" style="height:50px;width:190px;margin:0px"></b></span>
    </a>
    <section class="sidebar">

        <!-- search form -->
        
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
       
        <ul class="sidebar-menu nav dropdown-submenu">

            <!-- <li>
              <a routerLink="/dashboard"><i class="fa fa-dashboard"></i>Dashboard
              </a>
                 </li> -->

                 <li >
                    <a>
                      <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                <ul class="treeview-menu" style="position:relative">
                      <li><a routerLink="/ceo-dashboard"><i class="fa fa-circle-o"></i>CEO Dashboard</a></li>
                      <li ><a routerLink="/dashboard"><i class="fa fa-circle-o"></i> Sales Manager Dashboard</a></li>
                      <li><a routerLink="/purchase-dashboard"><i class="fa fa-circle-o"></i>Purchase Dashboard</a></li>
                      <li ><a routerLink="/financial-dashboard"><i class="fa fa-circle-o"></i> Finance Dashboard</a></li>
                      <li ><a routerLink="/logistics-dashboard"><i class="fa fa-circle-o"></i> Logistics Dashboard</a></li>
                      <li ><a routerLink="/general-dashboard"><i class="fa fa-circle-o"></i> General Dashboard</a></li>
                      <li ><a routerLink="/project-dashboard"><i class="fa fa-circle-o"></i> Project Dashboard</a></li>
                      <li ><a routerLink="/hr-management-dashboard"><i class="fa fa-circle-o"></i> HR Management Dashboard</a></li>
                    </ul>
                  </li>
                 
                 <li>
            <a routerLink="/enterprise"><i class="fa fa-industry"></i>Enterprise  </a>

                        </li>
            <li>
                <a routerLink="/employer"><i class="fa fa-user"></i>Employers </a>
                  
            </li>
            <li>
                <a routerLink="/empbranch"><i class="fa fa-building-o"></i>Employer Branches </a>
                  
                                         </li>

            <li>
                <a routerLink="/organization"><i class="fa fa-plug"></i>Organization Units</a>
                                          

            </li>
            <li>
                <a routerLink="/employee"><i class="fa fa-users"></i>Employees</a>
                    
            </li>
           
        
            <li>
                <a routerLink="/project"><i class="fa fa-tasks"></i>Project</a>
            </li>
        </ul>
        


</section>
  
    <!-- /.sidebar -->
</aside>