<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- search form -->
        
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
       
        <ul class="sidebar-menu nav dropdown-submenu">

            <li>
              <a href="/Enterprise/ES/DashboardView"><i class="fa fa-dashboard"></i>Dashboard
              </a>
                 </li><li>
            <a routerLink="/enterprise"><i class="fa fa-files-o"></i>Enterprise  </a>

                        </li>
            <li>
                <a routerLink="/employer"><i class="fa fa-files-o"></i>Employers </a>
                  
            </li>
            <li>
                <a routerLink="/empbranch"><i class="fa fa-files-o"></i>Employer Branches </a>
                  
                                         </li>

            <li>
                <a routerLink="/organization"><i class="fa fa-files-o"></i>Organization Units</a>
                                          

            </li>
            <li>
                <a routerLink="/employee"><i class="fa fa-files-o"></i>Employees</a>
                    
            </li>
           
        
            <li>
                <a routerLink="/project"><i class="fa fa-files-o"></i>Project</a>
            </li>
        </ul>
        


</section>
  
    <!-- /.sidebar -->
</aside>