
<style type="text/css">
    .auto-style1 {
        width: 80%;
    }

    .auto-style2 {
        text-align: center;
    }

    .auto-style3 {
        text-align: right;
    }

    .auto-style4 {
        text-align: left;
    }

    .auto-style6 {
        width: 84px;
        text-align: right;
    }

    .auto-style7 {
        width: 86px;
    }

    .auto-style8 {
        width: 347px;
    }

    .auto-style9 {
        width: 90px;
    }

    .auto-style10 {
        width: 93px;
        text-align: right;
    }

    .auto-style14 {
        width: 1504px;
        text-align: right;
    }

    .auto-style15 {
        width: 82px;
    }

    .auto-style23 {
        width: 204px;
    }

    .auto-style24 {
        width: 520px;
    }

    .auto-style25 {
        width: 521px;
    }

    .auto-style26 {
        width: 618px;
    }

    .auto-style27 {
        width: 204px;
        text-align: center;
    }

    .auto-style28 {
        text-align: center;
        width: 82px;
    }

    .auto-style29 {
        text-align: center;
        width: 67px;
    }

    .auto-style30 {
        width: 67px;
    }

    .auto-style31 {
        text-align: center;
        width: 79px;
    }

    .auto-style32 {
        width: 79px;
    }

    .auto-style37 {
        text-align: right;
        width: 274px;
    }

    .auto-style38 {
        width: 274px;
        text-align: center;
    }

    .auto-style39 {
        
        text-align: left;
        width: 161px;
    }

    .auto-style40 {
        width: 322px;
        text-align: center;
    }

    .auto-style45 {
        width: 161px;
    }

    .auto-style46 {
        width: 161px;
        text-align: right;
    }

    .auto-style47 {
        width: 65px;
    }

    .auto-style48 {
        text-align: center;
        width: 65px;
    }
</style>



<div id="divRectVochrPrint" ng-controller="ReceiptVoucherController">
    <div>
        <table align="center" cellpadding="0" cellspacing="0" class="auto-style1" border="0">
            <tr>
                <td>
                    <table align="center" cellpadding="5" cellspacing="0" class="auto-style1" border="1" style="border-style: none">
                        <tr>
                            <th class="auto-style2" colspan="5">GST Receipt Voucher</th>
                            <td rowspan="2" class="auto-style2">
                                <img ID="Image1" Height="76" ImageUrl="~/Content/Images/esmart.png" Width="163" />
                            </td>
                        </tr>
                        <tr>
                            <td class="auto-style2" colspan="5">Address: , Phone No:&nbsp; , Fax:&nbsp; , e-Mail:&nbsp; XXXXXXX</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                            <td class="auto-style3" colspan="2">GSTIN :</td>
                            <td colspan="2">
                                
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6">Customer Details : </td>
                        </tr>
                        <tr>
                            <td class="auto-style14">Name :</td>
                            <td class="auto-style2" colspan="3">XXXXXX</td>
                            <td class="auto-style27">POS</td>
                            <td class="auto-style2">Invoice #</td>
                        </tr>
                        <tr>
                            <td class="auto-style14" rowspan="2">Address :</td>
                            <td class="auto-style2" colspan="3">XXXXXX</td>
                            <td class="auto-style27">XXXXXX</td>
                            <td class="auto-style2">XXXXXX</td>
                        </tr>
                        <tr>
                            <td class="auto-style2" colspan="3">XXXXXX</td>
                            <td class="auto-style23">GSTIN :</td>
                            <td class="auto-style2">Date</td>
                        </tr>
                        <tr>
                            <td class="auto-style14">Reverse Charge</td>
                            <td class="auto-style26">Yes</td>
                            <td class="auto-style25">&nbsp;</td>
                            <td class="auto-style24">XXXXXX</td>
                            <td class="auto-style23">&nbsp;</td>
                            <td>XXXXXX</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center" cellpadding="5" cellspacing="0" class="auto-style1" border="1" style="border-style: none">
                        <tr>
                            <th colspan="9" class="auto-style4">Product-wise Details:</th>
                        </tr>
                        <tr>
                            <td class="auto-style47" rowspan="2">Sr. No</td>
                            <td class="auto-style8" rowspan="2">Product Description</td>
                            <td class="auto-style7" rowspan="2">Advance Amount</td>
                            <td colspan="2" class="auto-style2">CGST</td>
                            <td colspan="2" class="auto-style2">SGST</td>
                            <td colspan="2" class="auto-style2">IGST</td>
                        </tr>
                        <tr>
                            <td class="auto-style28">Rate%</td>
                            <td class="auto-style9">Amount</td>
                            <td class="auto-style31">Rate%</td>
                            <td>Amount</td>
                            <td class="auto-style29">Rate%</td>
                            <td>Amount</td>
                        </tr>
                        <tr>
                            <td class="auto-style48">XX</td>
                            <td class="auto-style8">XXXXXX</td>
                            <td class="auto-style6">XXX</td>
                            <td class="auto-style28">XXX %</td>
                            <td class="auto-style10">XXX</td>
                            <td class="auto-style31">XXX %</td>
                            <td class="auto-style3">XXX</td>
                            <td class="auto-style29">XXX %</td>
                            <td class="auto-style3">XXX</td>
                        </tr>
                        <tr>
                            <td class="auto-style3" colspan="2">Total</td>
                            <td class="auto-style6">XXX</td>
                            <td class="auto-style15">&nbsp;</td>
                            <td class="auto-style10">XXX</td>
                            <td class="auto-style32">&nbsp;</td>
                            <td class="auto-style3">XXX</td>
                            <td class="auto-style30">&nbsp;</td>
                            <td class="auto-style3">XXX</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center" cellpadding="5" cellspacing="0" class="auto-style1" border="1" style="border-style: none">
                        <tr>
                            <td class="auto-style3">Remarks :</td>
                            <td colspan="2">XXXXXX</td>
                            <td class="auto-style38">Summary</td>
                            <td class="auto-style2">Amount</td>
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp;</td>
                            <td class="auto-style37">Total Advance Amount</td>
                            <td class="auto-style3">XXX</td>
                        </tr>
                        <tr>
                            <td class="auto-style40" colspan="2">XXXXXX</td>
                            <td class="auto-style45">&nbsp;</td>
                            <td class="auto-style3">Grand Total</td>
                            <td class="auto-style3">XXX</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="auto-style40">Signature</td>
                            <td class="auto-style46">Amount in words :</td>
                            <td class="auto-style3" colspan="2" rowspan="3">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="auto-style40">XXXXXX</td>
                            <td class="auto-style39" rowspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="auto-style40">Name of Signatory</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="auto-style2">All disputes will be subject to XXXXXXXXX jurisdiction</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>

