<div class="col-md-12 ng-scope" id="diventerprise">
    <form (ngSubmit)="saveData(name.value,refId.value)">
    <div class="box-body">
        <div class="form-group col-md-3">
            <label for="exampleInputEmail1"><span style="color:blue;">Name</span><span style="color:red;">*</span></label>
            <input #name type="text" class="form-control " id="name" placeholder="Name"  name="name" required="">

        </div>
        <div class="form-group col-md-3">
            <label for="exampleInputPassword1"><span style="color:blue;">Ref Id</span><span style="color:red;">*</span></label>
            <input #refId type="text" class="form-control " id="refId" name="refId" placeholder="Ref Id" required="">
        </div>
    </div>
    <button type="submit"  class="btn bg-maroon margin" >Save</button>
</form>
</div>