<!-- <app-line-chart></app-line-chart> -->



<div class="row" style="margin-left:5px;margin-top: 10px;">
    <h2 style="margin-left:5px">Project Management Dashboard</h2>
    <div class="col-lg-3 col-6">
     
      <div class="small-box bg-info" style="background-color:aqua;padding:10px;margin-left:5px">
        <div class="inner">
          <p>Completed</p>
          <h3>Planning</h3>
        </div>
        <div class="icon" >
          <i class="fa fa-check-circle" style="margin-top: 10px;"></i>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
   
    <div class="col-lg-3 col-6">
    
      <div class="small-box bg-success" style="background-color: green;padding:10px;margin-left:5px">
        <div class="inner">
          <p>Completed</p>

          <h3>Design</h3>
        </div>
        <div class="icon">
          <i class="fa fa-check-circle"></i>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-6">
      
      <div class="small-box bg-warning" style="background-color: yellow;padding:10px;margin-left:5px">
        <div class="inner">
          <p>In Progress</p>

          <h3>Development</h3>
        </div>
        <div class="icon">
          <i class="fa fa-circle-o-notch"></i>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    
    <div class="col-lg-3 col-6">
  
      <div class="small-box bg-danger" style="background-color: red;padding:10px;margin-left:5px">
        <div class="inner">
          <p>Wating</p>

          <h3>Testing</h3>
        </div>
        <div class="icon">
          <i class="fa fa-clock-o"></i>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    

  </div> 
   <div class="row">
   
    <div class="col-lg-7 ">
      <app-pie-chart3></app-pie-chart3>
    </div>
    <div class="col-lg-4">
        <app-line-chart3 style="Width:100%;height:300px"></app-line-chart3>
      </div>
  </div>

  
  <div class="col-lg-7 " style="width:75%;margin-top:10px">
    <full-calendar [options]="calendarOptions" style="background-color: white;"></full-calendar>
</div>
   <!-- <div class="row">
   
    <section class="col-lg-7 connectedSortable">
     
      <div class="nav-tabs-custom">
       
        <ul class="nav nav-tabs pull-right">
          <li class="active"><a href="#revenue-chart" data-toggle="tab">Area</a></li>
          <li><a href="#sales-chart" data-toggle="tab">Donut</a></li>
          <li class="pull-left header"><i class="fa fa-inbox"></i> Sales</li>
        </ul>
        <div class="tab-content no-padding">
         
          <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;"></div>
          <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;"></div>
        </div>
      </div> -->

     

