<div id="divempbranch" ng-controller="EnterpriseController" class="ng-scope">
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="scrollbar scrollbar-primary">
            <div class="force-overflow">
                <div class="panel-body">

                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs" id="inside">
                            <li class="active tab1"><a href="#tab_1" id="tabfirst" data-toggle="tab">Branch List</a></li>
                            <li class="tab2"><a href="#tab_2" id="tabsecond" data-toggle="tab">Primary Details</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active tab1" id="tab_1">

                                 <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 160px;">Employer Id</th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 203px;">Branch Id</th>
                                            

                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 136px;">Branch Name</th>


                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 136px;">Branch Manager Name</th>
                                            <!-- concatenation Of Office Contact Person First , Middle  , LAst Names -->




                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 98px;">Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                            <tr *ngFor="let item of branchList | paginate:{ itemsPerPage: 10 , currentPage: p };" >
                                            <td class="ng-binding">{{item.EmployerId}}</td>
                                            <td class="ng-binding">{{item.BranchId}}</td>
                                            <td class="ng-binding">{{item.BranchName}}</td>
                                            <td class="ng-binding">{{item.BranchCurrency}}</td>
                                            <td>
                                                
                                                <a href="/Enterprise/ES/EmpbranchList?id=3" data-lity="">
                                                    <i class="fa fa-eye fa-1x" style="font-size: 14px; padding: 05px;color: #d81b60;"></i>
                                                </a>
                                                <a (click)="empbranchEdit(item.b_id)">
                                                    <i class="fa fa-edit fa-1x" style="font-size: 14px; padding: 05px;color: #d81b60;" ng-click="Editbranch(GEL)"></i>
                                                </a>
                                                <a (click)="deleteEmployee(item.b_id)">
                                                    <i class="fa fa-trash fa-1x" style="font-size: 14px;padding: 05px;color: #d81b60;" ></i>
                                                </a>
                                            </td>
                                        </tr>



                                    </tbody>

                                </table> 
                                <div style="float:right;margin-top:20px;color:#102f66;font-weight:800">
                                    <pagination-controls (pageChange)="p=$event"></pagination-controls>
                                   </div>  
                                <!-- <ag-grid-angular
                          style="width:100%; height:500px;min-height:200px;padding-left:50px"
                          class="ag-theme-alpine"
                          [columnDefs]="columnDefs"
                          (gridReady)="onGridReady($event)"
                          [rowData]="rowData"
                          [pagination]="true" 
                          [paginationAutoPageSize]="true"
                          enableSorting
                          enableFilter
                          >
                      </ag-grid-angular> -->
                            </div>
                            
                            <div class="tab-pane tab2 ng-pristine ng-invalid ng-invalid-required" id="tab_2" ng-form="empbranchform2">
                                <div class="col-md-12">
                                    <div class="box box-primary " style="border-top:none;">
                                        <!--   <div class="box-header with-border">
                                          <h3 class="box-title">Quick Example</h3>
                                        </div> -->
                                        <!-- /.box-header -->
                                        <!-- form start -->

                                        <form  [formGroup]="employerBranchForm" (ngSubmit)="onSubmitPrimary()">

                                            <div class="box-body">
                                                <div class="form-group col-md-3">
                                                    <label for="exampleInputEmail1"><span style="color:blue;">Employer Id</span><span style="color:red;">*</span></label>

                                                    <select aria-controls="example1" id="Employer_Id"  class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" formControlName="Employer_Id" name="Employer_Id" required="">
                                                        <option value="" disabled="" selected="selected">--Select Employer Id--</option>
                                                        <option *ngFor="let item of employeeriDList" [value]="item.emp_id">{{item.EmployerID}}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="exampleInputEmail1"><span style="color:blue;">Branch ID</span><span style="color:red;">*</span></label>
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="Branch_ID"  placeholder="Branch_ID" formControlName="Branch_ID" name="Branch_ID" required="">

                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="exampleInputPassword1"><span style="color:blue;">Branch Name</span><span style="color:red;">*</span></label>
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="Branch_Name"  formControlName="Branch_Name" name="Branch_Name" placeholder="Enterprise Name" required="">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="exampleInputPassword1">Branch Manager Name</label>
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="branc_manager_name"  formControlName="branc_manager_name" name="branc_manager_name" placeholder="Permanent Registration">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="exampleInputFile"><span style="color:blue;">Branch Currency</span><span style="color:red;">*</span></label>
                                                    <select class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="Branch_Currency" formControlName="Branch_Currency" name="Branch_Currency" required="">
                                                        <option value="" disabled="" selected="selected">--Select Branch Currency--</option>
                                                        <option value="RS">RS</option>
                                                        <option value="RS">RS</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="exampleInputFile"><span style="color:blue;">Cost Center</span><span style="color:red;">*</span></label>
                                                    <select class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="Cost_Center" formControlName="Cost_Center" name="Cost_Center" required="">
                                                        <option value="" disabled="" selected="selected">--Select Cost Center--</option>
                                                        <option value="0">Yes</option>
                                                        <option value="1">No</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="exampleInputFile"><span style="color:blue;">Sales Outlet</span><span style="color:red;">*</span></label>
                                                    <select class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="Sales_Outlet"  formControlName="Sales_Outlet" name="Sales_Outlet" required="">
                                                        <option value="" disabled="" selected="selected">--Select Sales Outlet--</option>
                                                        <option value="0">Yes</option>
                                                        <option value="1">No</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="exampleInputFile"><span style="color:blue;">warehouse</span><span style="color:red;">*</span></label>
                                                    <select class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="warehouse"  formControlName="warehouse" name="warehouse" required="">
                                                        <option value="" disabled="" selected="selected">--Select warehouse--</option>
                                                        <option value="0">Yes</option>
                                                        <option value="1">No</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="exampleInputFile"><span style="color:blue;">Stock Point</span><span style="color:red;">*</span></label>
                                                    <select class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="stock_point"  formControlName="stock_point" name="stock_point" required="">
                                                        <option value="" disabled="" selected="selected">--Select Stock Point--</option>
                                                        <option value="0">Yes</option>
                                                        <option value="1">No</option>
                                                    </select>
                                                </div>

                                                <div class="form-group col-md-3">
                                                    <label for="exampleInputEmail1"><span style="color:blue;">Country</span><span style="color:red;">*</span></label>

                                                    <select aria-controls="example1" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" formControlName="Country" name="Country" id="Country"  ng-change="GetStateList()" required="">
                                                        <option value="" disabled="" selected="selected">--Select Country Id--</option>                                                      
                        
                                                        <option *ngFor="let item of countryList" [value]="item.country_id">{{item.country_name}}({{item.country_code}})</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="exampleInputEmail1"><span style="color:blue;">State</span><span style="color:red;">*</span></label>

                                                    <select aria-controls="example1" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" formControlName="State" name="State" id="State"  ng-change="GetCityList()" required="">
                                                        <option value="" disabled="" selected="selected">--Select State--</option>
                                                        <!-- ngRepeat: S in Satelist -->
                                                        <option *ngFor="let item of stateList" [value]="item.state_id">{{item.state_name}}</option>

                                                    </select>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="exampleInputEmail1"><span style="color:blue;">City</span><span style="color:red;">*</span></label>
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="empbranch_city"  formControlName="empbranch_city" name="empbranch_city" placeholder="City">
                                                   
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="exampleInputPassword1">Address</label>
                                                    <textarea class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="Address"  formControlName="Address" name="Address" placeholder="Address"></textarea>
                                                </div>

                                                <div class="form-group col-md-3">
                                                    <label for="exampleInputEmail1"><span style="color:blue;">Land Line</span><span style="color:red;">*</span></label>
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="B_Landline"  formControlName="B_Landline" name="B_Landline" placeholder="Land Line" required="">

                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="exampleInputEmail1"><span style="color:blue;">Fax</span><span style="color:red;">*</span></label>
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="B_Fax" formControlName="B_Fax" name="B_Fax" placeholder="Fax" required="">

                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="exampleInputEmail1"><span style="color:blue;">Mobile Number</span><span style="color:red;">*</span></label>
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="B_Mobile_Number" formControlName="B_Mobile_Number" name="B_Mobile_Number" placeholder="B_Mobile_Number" required="">

                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="exampleInputEmail1">Email Address</label>
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="B_Email"  formControlName="B_Email" name="B_Email" placeholder="Email Address">

                                                </div>

                                                <div class="form-group col-md-3">
                                                    <label for="exampleInputEmail1">Website</label>
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="B_Website"  formControlName="B_Website" name="B_Website" placeholder="Website">

                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="exampleInputEmail1"><span style="color:blue;">TaxId</span><span style="color:red;">*</span></label>
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="B_TaxId"  formControlName="B_TaxId" name="B_TaxId" placeholder="B_TaxId" required="">

                                                </div>



                                            </div>

                                            <!-- /.box-body -->
                                            <div class="box-footer">
                                                <button type="submit" class="btn bg-maroon margin" *ngIf="!Isempbranchupdate" >Submit</button>
                                                <button type="submit" class="btn bg-maroon margin " ng-click="Updatebranch()" >Update</button>

                                        
                                    </div></form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div></div>
<script>
    $(document).ready(function () {
        angular.element(document.getElementById('divempbranch')).scope().GetEmployeerbarchllist();
        angular.element(document.getElementById('divempbranch')).scope().GetEmployeeriD();
        angular.element(document.getElementById('divempbranch')).scope().GetCountryList();
        

    //if (Queryroute == "block_type=D") {
    //    $(".dormitory").click();
    //}
    });
</script>
                    </div>