
<script>
    $(document).ready(function () {
        angular.element(document.getElementById('divItemgroup')).scope().GetItemGroupList();
    });
</script>
<div class="row" ng-controller="ItemgroupController" id="divItemgroup">
    <div class="col-md-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active" id="lifirsttab1"><a href="#lifirsttab" id="afirsttab" data-toggle="tab"> ItemGroup List</a></li>
                <li><a href="#tab_1" id="asecondtab" data-toggle="tab"> Add ItemGroup</a></li>
            </ul>
            <div class="tab-content">
                <div class="box tab-pane active" id="lifirsttab">
                    
                    <div class="box-body">
                        <div class="tab-pane active dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 160px;">ItemGroup ID</th>
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 203px;">ItemGroup Description</th>
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 203px;">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of itemgroupList | paginate:{ itemsPerPage: 10 , currentPage: p };" >
                                                <td class="ng-binding">{{item.itemgroupId}}</td>
                                                <td class="ng-binding">{{item.itemGroupDescription}}</td>

                                                <td>
                                           
                                                    <!-- <a href="/Enterprise/ES/EntrapriseListView?id=10008" data-lity=""> -->
                                                    <a href="#tab_1" data-toggle="tab" data-lity="" (click)="GetUOMById(item.itemgroupId)"> 
                                                        <i class="fa fa-eye fa-1x" style="font-size: 14px; padding: 05px;color: #d81b60;"></i>
                                                        <!-- <i class="fa fa-eye fa-1x" style="font-size: 14px; padding: 05px;color: #d81b60;" (click) ="GetEnterprise()"></i> -->
                                                    </a>
                                                    <a href="#tab_1" data-toggle="tab" data-lity="" (click)="GetUOMById(item.itemgroupId)">
                                                        <i class="fa fa-edit fa-1x" style="font-size: 14px; padding: 05px;color: #d81b60;"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-trash fa-1x" style="font-size: 14px;padding: 05px;color: #d81b60;" ng-click="EnterpriseDelete(GEL)"></i>
                                                    </a>
                                      
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_1" ng-form="ItemGroupform1">
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-primary " style="border-top:none;">
                                        <!--   <div class="box-header with-border">
                                          <h3 class="box-title">Quick Example</h3>
                                        </div> -->
                                        <!-- /.box-header -->
                                        <!-- form start -->

                                        <form  [formGroup]="ItemGroupForm" (ngSubmit)="onSubmitPrimary()">

                                            <div class="box-body">
                                                <div class="form-group col-md-3">
                                                    <label for="exampleInputEmail1" style="color:blue;">ItemGroup ID <span style="color:red">*</span></label>
                                                    <input type="text" class="form-control" formControlName="ItemGroupId" name="ItemGroupId" id="ItemGroupId" placeholder="ItemGroup Id" required>

                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="exampleInputPassword1" style="color:blue;">ItemGroup Description<span style="color:red">*</span></label>
                                                    <input type="text" class="form-control" formControlName="ItemGroupdesc" name="ItemGroupdesc" id="ItemGroupdesc" placeholder="ItemGroup Description" required>
                                                </div>
                                            </div>

                                            <!-- /.box-body -->
                                            <button type="submit" ng-show="Isedit==0" class="btn bg-maroon margin" *ngIf="!IsJBupdate"  >Save</button>
                                            <button type="submit" ng-show="Isedit==1" class="btn bg-maroon margin" *ngIf="IsJBupdate" >Update</button>
                                            <button type="button" class="btn bg-maroon margin" ng-click="cancelgrp()">Cancel</button>
                                            <button type="button" class="btn bg-maroon margin" ng-click="editexitgrp()">Exit</button>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






