<h2>UserPermition</h2>

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary " style="border-top:none;">



            <div class="box-body">

                <div class="box-body">
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="dataTables_length" id="example1_length">

                                </div>
                            </div>
                            <div class="col-sm-6">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 box-body table-responsive no-padding">
                                <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                    <tbody>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>

                                        </tr>
                                        <tr>
                                            <td rowspan="2" style="cursor: default;">
                                                <div class="hdrcell"></div>
                                            </td>
                                            <td colspan="7" style="cursor: default;"><div class="hdrcell"></div></td>
                                        </tr>
                                        <tr>
                                            <td style="cursor: default;"><div class="hdrcell">Approve</div></td>
                                            <td style="cursor: default;"><div class="hdrcell">Delete</div></td>
                                            <td style="cursor: default;"><div class="hdrcell">Insert</div></td>
                                            <td><div class="hdrcell">Print</div></td>
                                            <td><div class="hdrcell">Search</div></td>
                                            <td><div class="hdrcell">Update</div></td>
                                            <td><div class="hdrcell">View</div></td>
                                        </tr>
                                        <tr>
                                            <td>Form Name</td>
                                            <td> <input type="checkbox" ID="CheckBox11" /></td>
                                            <td> <input type="checkbox" ID="CheckBox12" /></td>
                                            <td> <input type="checkbox" ID="CheckBox13" /></td>
                                            <td> <input type="checkbox" ID="CheckBox14" /></td>
                                            <td> <input type="checkbox" ID="CheckBox15" /></td>
                                            <td> <input type="checkbox" ID="CheckBox16" /></td>
                                            <td> <input type="checkbox" ID="CheckBox17" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
