/* You can add global styles to this file, and also import other style files */

.invalid-feedback {
  display: block;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #dc3545 !important;
  border-width: 1px !important;
  border-style: solid !important;
}

div.manage__form__select_dd select.is-invalid {
  border-color: #dc3545 !important;
  border-width: 1px !important;
  border-style: solid !important;
}

.org-logo {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  margin-bottom: -15px;
}

.manage__form__table {
  width: calc(100% + 40px);
  margin-left: -20px;
  display: block;
}

/* table */
.ui-table .ui-table-thead>tr>th,
.ui-table .ui-table-tbody>tr>td,
.ui-table .ui-table-tfoot>tr>td {
  padding: .75rem !important;
}

.table {
  margin-bottom: 0px !important;
}

.table thead th {
  color: #fff;
  background-color: #343a40;
  border-color: #454d55;
}

.parentelement ngx-loading-bar #loading-bar-spinner {
  left: 0px !important;
  right: 10px !important;
}

body .ui-toast {
  margin-top: 50px;
}

body .ui-toast .ui-toast-message {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  margin: 0 0 1em 0;
}

body .ui-toast .ui-toast-message.ui-toast-message-info {
  background-color: #7fbcec;
  border: 0 none;
  color: #212121;
}

body .ui-toast .ui-toast-message.ui-toast-message-info .ui-toast-close-icon {
  color: #212121;
}

body .ui-toast .ui-toast-message.ui-toast-message-success {
  background-color: #b7d8b7;
  border: 0 none;
  color: #212121;
}

body .ui-toast .ui-toast-message.ui-toast-message-success .ui-toast-close-icon {
  color: #212121;
}

body .ui-toast .ui-toast-message.ui-toast-message-warn {
  background-color: #ffe399;
  border: 0 none;
  color: #212121;
}

body .ui-toast .ui-toast-message.ui-toast-message-warn .ui-toast-close-icon {
  color: #212121;
}

body .ui-toast .ui-toast-message.ui-toast-message-error {
  background-color: #f8b7bd;
  border: 0 none;
  color: #212121;
}

body .ui-toast .ui-toast-message.ui-toast-message-error .ui-toast-close-icon {
  color: #212121;
}

body .ui-widget-overlay {
  background-color: rgba(0, 0, 0, 0.4);
}
.ui-dialog-mask {
  position: fixed;
  width: 100%;
  height: 100%;
}
/* dialog */
body .ui-dialog {
  padding: 0;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
}
body .ui-dialog .ui-dialog-titlebar {
  border: 1px solid #c8c8c8;
  background-color: #f4f4f4;
  color: #333333;
  padding: 1em;
  font-weight: 700;
  border-bottom: 0 none;
}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
  margin: 0;
  float: none;
}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
  color: #848484;
  border: 0 none;
  padding: 0;
  margin-left: 0.5em;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon:hover {
  color: #333333;
}
body .ui-dialog .ui-dialog-content {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #c8c8c8;
  padding: 0.571em 1em;
}
body .ui-dialog .ui-dialog-footer {
  border: 1px solid #c8c8c8;
  background-color: #ffffff;
  color: #333333;
  padding: 0.571em 1em;
  margin: 0;
  text-align: right;
  position: relative;
  top: -1px;
}
body .ui-dialog .ui-dialog-footer button {
  margin: 0 0.5em 0 0;
  width: auto;
}
body .ui-dialog.ui-confirm-dialog .ui-dialog-content {
  padding: 1.5em;
}
body .ui-dialog.ui-confirm-dialog .ui-dialog-content > span {
  float: none;
  display: inline-block;
  vertical-align: middle;
  line-height: 14px;
  margin: 0;
}
body .ui-dialog.ui-confirm-dialog .ui-dialog-content > span.ui-icon {
  margin-right: 0.35em;
  font-size: 16px;
}
 
.data__uploads__table__status .loader {
  overflow: visible;
}

.data__uploads__table__status .rotate {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  -webkit-transform-origin: center;
  transform-origin: center;
}

.div-disabled {
  pointer-events: none; 
}

.d-none{
  display: none !important;
}

.min-width-accordion{
 text-align: left !important;
}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}
